[Desktop Entry]
Name=ColorsBlue-3

X-Desktop-PluginInfo-Name=ColorsBlue-3
X-Desktop-PluginInfo-Author=usnetv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
