[Desktop Entry]
Name=Tarsus old train

X-Desktop-PluginInfo-Name=Tarsus old train
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
