[Desktop Entry]
Name=Silifke-Kızkalesi

X-Desktop-PluginInfo-Name=Silifke-Kızkalesi
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=LGPLv3
