[Desktop Entry]
Name=Silifke-Kızkalesi

X-Desktop-PluginInfo-Name=Silifke-Cennet-Cehennem
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
