[Desktop Entry]
Name=Sutoprak

X-Desktop-PluginInfo-Name=Sutoprak
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=LGPLv3
