[Desktop Entry]
Name=GreenColor

X-Desktop-PluginInfo-Name=GreenColor
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=LGPLv3
