[Desktop Entry]
Name=Darkred

X-Desktop-PluginInfo-Name=Darkred
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=LGPLv3
