[Desktop Entry]
Name=Sun - Gölbaşı Gün Batımı , Olba , Silifke-Kızkalesi , Tarsus old train ,

X-Desktop-PluginInfo-Name=Sun - Gölbaşı Gün Batımı , Olba , Silifke-Kızkalesi , Tarsus old train ,
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=LGPLv3
