[Desktop Entry]
Name=Sun - Gölbaşı Gün Batımı , Olba , Silifke-Kızkalesi , Tarsus old train ,

X-Desktop-PluginInfo-Name=Sun - Gölbaşı Gün Batımı , Olba , Silifke-Kızkalesi , Tarsus old train ,
X-Desktop-PluginInfo-Author=usnetv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
