[Desktop Entry]
Name=Gün Batımı 

X-Desktop-PluginInfo-Name=Sun - Adıyaman,Gölbaşı,Türkiye Gün Batımı
X-Desktop-PluginInfo-Author=usnetv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
