[Desktop Entry]
Name=Sun - Gölbaşı Gün Batımı 

X-Desktop-PluginInfo-Name=Sun - Gölbaşı Gün Batımı
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=LGPLv3
