[Desktop Entry]
Name=Bağlar

X-Desktop-PluginInfo-Name=Bağlar
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=LGPLv3
