[Desktop Entry]
Name=Bisiklet,Darkred,PisiColors,Sun

X-Desktop-PluginInfo-Name=Bisiklet,Darkred,PisiColors,Sun
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
