[Desktop Entry]
Name=ColorsBlue-1

X-Desktop-PluginInfo-Name=ColorsBlue-1
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
