[Desktop Entry]
Name=Renkli1

X-Desktop-PluginInfo-Name=Renkli1
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
