[Desktop Entry]
Name=Sarmal

X-Desktop-PluginInfo-Name=Sarmal
X-Desktop-PluginInfo-Author=usnetv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
