[Desktop Entry]
Name=Bindings

X-Desktop-PluginInfo-Name=Bindings
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
