[Desktop Entry]
Name=Sutoprak

X-Desktop-PluginInfo-Name=Sutoprak
X-Desktop-PluginInfo-Author=usnetv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
