[Desktop Entry]
Name=Bisiklet

X-Desktop-PluginInfo-Name=Bisiklet
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
