[Desktop Entry]
Name=Olba

X-Desktop-PluginInfo-Name=Olba
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
